<div>

<div> {{ section.settings.logo_text }} </div>

<div> {{ section.settings.subtitle }}</div>

<h1> {{ section.settings.heading }}</h1>

<p> {{ section.settings.description }}</p>

<a href="#">

    {{ section.settings.button_text }}

</a>

<div> {{ section.settings.button_text }}</div>

</div>